version: '3'

services:
  app:
    build: .
    command: jupyter notebook --ip=0.0.0.0 --port=8081 --allow-root --no-browser
    ports:
      - 127.0.0.1:8081:8081
    volumes:
      - .:/app

  db:
    image: postgres:alpine
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
